.app-container {
  display: flex;
  flex-direction: column;
  background-color: #192338;
  color: #cfcfc4;
  min-height: 100vh;
}

.home-btn {
  position: absolute;
  background-color: transparent;
  left: 1%;
  top: 1%;
  font-size: 175%;
  color: #cfcfc4;
  border: none;
  padding: 1%;
  height: 8%;
  width: 5%;
}

/* search screen style */
.app-header {
  text-align: center;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 350%;
}

.form {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

input[type='text'] {
  width: 50%;
  padding: 18px;
  border: none;
  border-bottom: 2px solid gray;
  background-color: #192338;
  text-align: center;
  font-size: 200%;
  color: #cfcfc4;
}

input[type='text']:focus {
  outline: 0;
}

/* calendar switcher style */
.button-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.calendar-switch {
  background-color: #123072;
  font-size: 175%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cfcfc4;
  border: none;
  padding: 1%;
  margin: 0 1% 0 1%;
  height: 20%;
  width: 18%;
}

.calendar {
  margin: 0 2% 0 2%;
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 30;
  background-color: blue;
}
