.app-container {
  display: flex;
  flex-direction: column;
  background-color: #192338;
  color: #cfcfc4;
  min-height: 100vh;
}

.app-header {
  text-align: center;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 350%;
}

.form {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

input[type='text'] {
  width: 50%;
  padding: 18px;
  border: none;
  border-bottom: 2px solid gray;
  background-color: #192338;
  text-align: center;
  font-size: 200%;
  color: #cfcfc4;
}

input[type='text']:focus {
  outline: 0;
}
